<div id="product" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/purchaseorders'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <!-- <div class="product-image mr-8 mr-sm-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    <img *ngIf="product.images[0]" [src]="product.images[0].url">
                    <img *ngIf="!product.images[0]" [src]="'assets/images/ecommerce/product-image-placeholder.png'">
                </div> -->

                <div fxLayout="column" fxLayoutAlign="start start" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="logo-text h1 secondary-text" *ngIf="pageType ==='edit'">
                        Update Purchase Order
                    </div>
                    <div class="logo-text h1 secondary-text" *ngIf="pageType ==='new'">
                        New Purchase Order
                    </div>
                    
                </div>
            </div>
            <!-- / APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">
                <button mat-raised-button class="save-product-button mr-12" *ngIf="pageType ==='new' || pageType ==='draft'"
                    (click)="savePurchaseOrder()">
                    <span>Save</span>
                </button>

                <button mat-raised-button  class="save-product-button mr-12" [disabled]="validate()"
                    (click)="submitPurchaseOrder()">
                    <span>Submit</span>
                </button>

            </div>
            <!-- <button mat-raised-button class="save-product-button" [disabled]="POForm.invalid || POForm.pristine" *ngIf="pageType ==='edit'"
                (click)="saveProduct()">
                <span>Save</span>
            </button> -->
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">
                <div id="po-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">
                    <form name="POForm" [formGroup]="POForm" novalidate  class="product w-100-p"
                        fxLayout="column" fxFlex>

                        <mat-tab-group>

                            <mat-tab label="PO Details">

                                <div class="tab-content p-24 posnrelative" fusePerfectScrollbar>

                                    <div class="rowb">
                                        <mat-form-field class="col-md-4">
                                            <mat-label>{{'PO.Manf' | translate}}</mat-label>
                                            <input matInput placeholder="{{'PO.Manf' | translate}}" formControlName="manufacturerName">
                                            <mat-error>
                                                {{'PO.Manf' | translate}} {{'PO.IR' | translate}}
                                            </mat-error>
                                        </mat-form-field>

                                        <!-- <mat-form-field class="col-md-4" style="display: none">
                                            <mat-label>{{'PO.OrderID' | translate}}</mat-label>
                                            <input matInput placeholder="{{'PO.OrderID' | translate}}" formControlName="orderid">
                                            <mat-error>
                                                {{'PO.OrderID' | translate}} {{'PO.IR' | translate}}
                                            </mat-error>
                                        </mat-form-field> -->

                                        <mat-form-field class="col-md-4">
                                            <mat-label>{{'PO.PONo' | translate}}</mat-label>
                                            <input matInput placeholder="{{'PO.PONo' | translate}}" formControlName="poNumber" readonly>
                                            <!-- <mat-error>
                                                {{'PO.PONo' | translate}} {{'PO.IR' | translate}}
                                            </mat-error> -->
                                        </mat-form-field>

                                    </div>
                                    <div class="rowb">
                                        <mat-form-field class="col-md-4">
                                            <input formControlName="createDate" matInput [matDatepicker]="creationdt" placeholder="Date of Creation">
                                            <mat-datepicker-toggle matSuffix [for]="creationdt"></mat-datepicker-toggle>
                                            <mat-datepicker color="accent" #creationdt></mat-datepicker>
                                        </mat-form-field>

                                        <mat-form-field class="col-md-4">
                                            <input formControlName="issueDate" matInput [matDatepicker]="issuedt" placeholder="Date of Issue">
                                            <mat-datepicker-toggle matSuffix [for]="issuedt"></mat-datepicker-toggle>
                                            <mat-datepicker color="accent" #issuedt></mat-datepicker>
                                        </mat-form-field>


                                    </div>
                                    <div class="rowb">

                                        <mat-form-field class="col-md-4">
                                            <mat-select *ngIf="mode=='edit'"  formControlName="supplierId" placeholder="Supplier Name">
                                                <mat-option *ngFor="let sname of snames" [value]="sname.id">
                                                    {{sname.orgName}}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error>{{'PO.SN' | translate}} {{'PO.IR' | translate}}</mat-error>
                                            <input [readonly]="isReadOnly" *ngIf="mode=='view'" matInput placeholder="{{'PO.SN' | translate}}"
                                                formControlName="supplierName">
                                        
                                        </mat-form-field>

                                        <mat-form-field class="col-md-4">
                                            <mat-label>{{'PO.SAddress' | translate}}</mat-label>
                                            <textarea [readonly]="isReadOnly" rows=1 addresscharpattern matInput placeholder="{{'PO.SAddress' | translate}}" formControlName="supplierAddrs"></textarea>
                                            <mat-error>
                                                {{'PO.SAddress' | translate}} {{'PO.IR' | translate}}</mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="rowb">

                                        <mat-form-field class="col-md-4">
                                            <mat-label>{{'PO.DAddress' | translate}}</mat-label>
                                          
                                            <mat-select *ngIf="mode=='edit'" formControlName="delivryAddrsId"  placeholder="Supplier Name">
                                                <mat-option *ngFor="let delAddress of addresses"  class="multi-line" [value]="delAddress.id">
                                                    <Label class="list-group-item-heading"> {{delAddress.addressLine1}}</Label>
                                                    <Label class="list-group-item-heading"> {{delAddress.addressLine2}}</Label>
                                                    <Label class="list-group-item-heading"> {{delAddress.division}}</Label>
                                                    <Label class="list-group-item-heading"> {{delAddress.district}}</Label>
                                                    <Label class="list-group-item-heading"> {{delAddress.thana}}</Label>
                                                </mat-option>
                                            </mat-select>
                                            <mat-error>
                                                {{'PO.DAddress' | translate}} {{'PO.IR' | translate}}
                                            </mat-error>
                                            <input [readonly]="isReadOnly" *ngIf="mode=='view'" matInput placeholder="{{'PO.DAddress' | translate}}"
                                                formControlName="delivryAddrs">
                                        </mat-form-field>
                                        <mat-form-field class="col-md-4">
                                            <mat-label>{{'PO.BAddress' | translate}}</mat-label>
                                          
                                            <mat-select *ngIf="mode=='edit'"  formControlName="billingAddrsId" placeholder=" {{'PO.BAddress' | translate}}" >
                                                <mat-option *ngFor="let billAddress of addresses" [value]="billAddress.id" class="multi-line">
                                                    <Label class="list-group-item-heading"> {{billAddress.addressLine1}}</Label>
                                                    <Label class="list-group-item-heading"> {{billAddress.addressLine2}}</Label>
                                                    <Label class="list-group-item-heading"> {{billAddress.division}}</Label>
                                                    <Label class="list-group-item-heading"> {{billAddress.district}}</Label>
                                                    <Label class="list-group-item-heading"> {{billAddress.thana}}</Label>
                                                </mat-option>
                                            </mat-select>
                                            
                                            <mat-error>
                                                {{'PO.BAddress' | translate}} {{'PO.IR' | translate}}
                                            </mat-error>
                                            <input [readonly]="isReadOnly" *ngIf="mode=='view'" matInput placeholder="{{'PO.BAddress' | translate}}"
                                                formControlName="billingAddrs">
                                        </mat-form-field>
                                    </div>
                                    <div *ngIf="mode=='view'" class="readonlydiv"></div>
                                </div>

                            </mat-tab>
                           
                            <mat-tab label="Product Details">
                                <div class="w-100-p">                                
                                    <childlist-table #productlisttable [tableConfig]="childTableConfig" [data]="products" [ChildItem]="productItem" (valueChange)="handleValueChange($event)"></childlist-table>

                                    <div class="w-100-p rowb mr-12 posnrelative" *ngIf="formshow===true" layout="row" layout-align="end-start" layout-margin flex style="clear:both;">                                            
                                        <table style="float:right;" class="mr-60 ml-30" flex="60">
                                            <tr class="h-25">
                                                <th align="right"><span layout="row"  layout-align="end-start" style="font-size: 14px;font-weight: bold;">{{'PO.GrndTtl' | translate}}</span></th>
                                                <td>
                                                    <amount-component [control]="POForm.controls['grndTotal']" 
                                                    [wrapper_class]="'col-md-8'" 
                                                    [errorMsg]="'Grand total is required'"> 
                                                    </amount-component>
                                                 
                                                </td>
                                            </tr>
                                            <tr class="h-25">
                                                <th align="right"><span  layout="row"  layout-align="end-start" style="font-size: 14px;font-weight: bold;">{{'PO.AdvPymnt' | translate}}</span></th>
                                                <td>
                                                    <amount-component [control]="POForm.controls['advPaymnt']" [wrapper_class]="'col-md-8'" > 
                                                    </amount-component>
                                                
                                                </td>
                                            </tr>
                                            <tr class="h-25">
                                                <th align="right"><span  layout="row"  layout-align="end-start" style="font-size: 14px;font-weight: bold;">{{'PO.NetPayble' | translate}}</span></th>
                                                <td>
                                                    <amount-component [control]="POForm.controls['netPayable']" [wrapper_class]="'col-md-8'"
                                                        [errorMsg]="'Net payable amount is required'"> 
                                                    </amount-component>
                                                
                                                </td>
                                            </tr>
                                        </table>
                                        <div *ngIf="mode=='view'" class="readonlydiv"></div>
                                    </div>          

                                </div>
                                
                            </mat-tab>

                        </mat-tab-group>
                    </form>

                </div>
            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
</div>