<!-- <div mat-dialog-content>
  <p>Please specify reason</p>
</div>
<div mat-dialog-actions>
  <button mat-raised-button class="mat-accent mr-16" [mat-dialog-close]="data.reason" cdkFocusInitial>Ok</button>
  <button mat-raised-button class="mat-accent mr-16" >Cancel</button>
</div> -->


<h1 matDialogTitle>Confirm</h1>
<div mat-dialog-content>{{confrimMessage}}</div>
<mat-form-field class="w-100-p mt-28" appearance="outline">
  <input matInput placeholder="Remark" [(ngModel)]="data.reason">
</mat-form-field>

<div mat-dialog-actions class="display-block">
    <button mat-raised-button class="mat-accent mr-16 w-45-p" (click)="dialogRef.close(data.reason)"  cdkFocusInitial>Yes</button>
    <button mat-raised-button  class="float-right w-45-p" (click)="dialogRef.close(false)">No</button>
</div>