<div id="reset-password" class="inner-scroll" fxLayout="row" fxLayoutAlign="start">

    <div id="reset-password-intro" fxFlex fxHide fxShow.gt-xs>

        <div class="logo" [@animate]="{value:'*',params:{scale:'0.2'}}">
            <img src="assets/images/logos/IPDC_Logo.svg">
        </div>

        <div class="title" [@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}">
            Welcome to IPDC!
        </div>

        <!-- <div class="description" [@animate]="{value:'*',params:{delay:'100ms',y:'25px'}}">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ullamcorper nisl erat,
            vel convallis elit fermentum pellentesque. Sed mollis velit facilisis facilisis viverra.
        </div> -->

    </div>

    <div id="reset-password-form-wrapper" fusePerfectScrollbar [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">

        <div id="reset-password-form">

            <div class="logo" fxHide.gt-xs>
                <img src="assets/images/logos/IPDC_Logo.svg">
            </div>

            <div class="title">RESET YOUR PASSWORD</div>

            <form name="resetPasswordForm" [formGroup]="resetPasswordForm" novalidate (ngSubmit)="resetPassword(resetPasswordForm.value)" *ngIf="!isChangePass">

                <mat-form-field>
                    <input matInput type="password" placeholder="New Password" formControlName="newPassword">
                    <mat-error>
                        Password is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="password" placeholder="Confirm Password" formControlName="confirmPassword">
                    <mat-error *ngIf="resetPasswordForm.get('confirmPassword').hasError('required')">
                        Password confirmation is required
                    </mat-error>
                    <mat-error *ngIf="!resetPasswordForm.get('confirmPassword').hasError('required') &&
                                       resetPasswordForm.get('confirmPassword').hasError('passwordsNotMatching')">
                        Passwords must match
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button class="submit-button" color="accent" aria-label="RESET MY PASSWORD" [disabled]="resetPasswordForm.invalid"
                    >
                    RESET MY PASSWORD
                </button>

                <!-- <button mat-raised-button color="accent" (click)="changePass()" aria-label="RESET MY PASSWORD" [disabled]="resetPasswordForm.invalid"
                    *ngIf="isChangePass">
                    RESET MY PASSWORD
                </button> -->
            </form>

            <form name="changePasswordForm" [formGroup]="changePasswordForm" novalidate (ngSubmit)="changePassword(changePasswordForm.value)" *ngIf="isChangePass">

                <mat-form-field>
                    <input matInput type="password" placeholder="Old Password" formControlName="oldPassword">
                    <mat-error>
                        Old password is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="password" placeholder="New Password" formControlName="newPassword">
                    <mat-error>
                        Password is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="password" placeholder="Confirm Password" formControlName="confirmPassword">
                    <mat-error *ngIf="changePasswordForm.get('confirmPassword').hasError('required')">
                        Password confirmation is required
                    </mat-error>
                    <mat-error *ngIf="!changePasswordForm.get('confirmPassword').hasError('required') &&
                    changePasswordForm.get('confirmPassword').hasError('passwordsNotMatching')">
                        Passwords must match
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button class="submit-button" color="accent" aria-label="RESET MY PASSWORD" [disabled]="changePasswordForm.invalid">
                    RESET MY PASSWORD
                </button>
            </form>

            <div class="login" fxLayout="row" fxLayoutAlign="center center">
                <a class="link" [routerLink]="'/auth/login'">Go back to login</a>
            </div>

        </div>
    </div>
</div>