
<div id="product" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">
            </div>
            <!-- / APP TITLE -->
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card p-24 mr-24 mb-24" id="userform" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">
        <!-- <h1 fxLayoutAlign="center center">User has Activated</h1> -->
        <div  class="mt-24" style="text-align:center"><span class="mat-headline">User Activated!</span><br>
            <span>Please Click below link to Proceed</span><br>
        <a href="{{tinyUrl}}">{{tinyUrl}}</a>
    </div>
        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
</div>
